body{background-color: rgb(0, 0, 0);}j
h1{text-align: center;}
h2{color: rgb(0, 0, 0);}
h2{text-align: center;}
#imal1{margin-left: 3%;}
#imal2{margin-left: 40%;}
#imal3{margin-left: 40%;}
#imal4{margin-left: 40%;}
#imal5{margin-left: 40%;}
h1{color: aliceblue;}
h2{color: aliceblue;}
h3{color: aliceblue;}
h4{color: rgb(176, 49, 37);}
h5{color: rgb(199, 49, 46)85, 85, 212);}
h6{color: rgb(238, 23, 23);} 
i{color: rgb(138, 138, 239);}
i{font-size: small;}